@import "common/global";

/*
 * Default theme - the same colors they've been for years
 * Represents the properties from 'common/global'; does not override any of them.
 */

@import "common/base";

@mixin idiotism {
  color: #00000000;
  background-size: cover;
  background-repeat: no-repeat;
}

.fa-edit:before {
  @include idiotism;
  background-image: url("/images/icons/wordpad.ico");
}

.fa-eye:before {
  @include idiotism;
  background-image: url("/images/icons/intel_graphics_configuration.ico");
}

.fa-sync:before {
  @include idiotism;
  background-image: url("/images/icons/internet1.ico");
}

.fa-exclamation-triangle:before {
  @include idiotism;
  background-image: url("/images/icons/__54.ico");
}

.fa-share:before {
  @include idiotism;
  background-image: url("/images/icons/328.ico");
}

.fa-star:before {
  @include idiotism;
  background-image: url("/images/icons/__17.ico");
}

.fa-upload:before {
  @include idiotism;
  background-image: url("/images/icons/regional_settings.ico");
}

.fa-arrow-up:before {
  content: "/\\";
}

.fa-arrow-down:before {
  content: "\\/";
}

.fa-chevron-up:before {
  content: "/\\";
}

.fa-chevron-right:before {
  content: ">";
}

.fa-chevron-left:before {
  content: "<";
}

.fa-comments:before {
  @include idiotism;
  background-image: url("/images/icons/__46.ico");
}

.fa-eye-slash:before {
  @include idiotism;
  background-image: url("/images/icons/__1.ico");
}

.fa-bell:before {
  @include idiotism;
  background-image: url("/images/icons/__19.ico");
}

.fa-embedded--notification {
  background: url("/images/icons/__19.ico") center/24px 24px no-repeat !important;
}

.fa-embedded--message {
  background: url("/images/icons/107.ico") center/24px 24px no-repeat !important;
}

.fa-embedded--search {
  background: url("/images/icons/internet1.ico") center/24px 24px no-repeat !important;
}

.fa-embedded--camera {
  background: url("/images/icons/find_fast.ico") center/24px 24px no-repeat !important;
}

.fa-embedded--help {
  background: url("/images/icons/__17.ico") center/24px 24px no-repeat !important;
}

.fa-filter:before {
  @include idiotism;
  background-image: url("/images/icons/__81.ico");
}

.fa-images:before {
  @include idiotism;
  background-image: url("/images/icons/103.ico");
}

.fa-sitemap:before {
  @include idiotism;
  background-image: url("/images/icons/79.ico");
}

.fa-download:before {
  @include idiotism;
  background-image: url("/images/icons/drive_d.ico");
}

.fa-random:before {
  @include idiotism;
  background-image: url("/images/icons/158.ico");
}

.fa-image:before {
  @include idiotism;
  background-image: url("/images/icons/__11.ico");
}

.fa-pen-square:before {
  @include idiotism;
  background-image: url("/images/icons/__102.ico");
}

.fa-link:before {
  @include idiotism;
  background-image: url("/images/icons/78.ico");
}

.fa-cogs:before {
  @include idiotism;
  background-image: url("/images/icons/116.ico");
}

.fa-cog:before {
  @include idiotism;
  background-image: url("/images/icons/116.ico");
}

.fa-envelope:before {
  @include idiotism;
  background-image: url("/images/icons/briefcase.ico");
}

.fa-user:before {
  @include idiotism;
  background-image: url("/images/icons/users.ico");
}

.fa-sign-out-alt:before {
  @include idiotism;
  background-image: url("/images/icons/passwords.ico");
}

.fa-search:before {
  @include idiotism;
  background-image: url("/images/icons/internet1.ico");
}

.fa-bell-slash:before {
  @include idiotism;
  background-image: url("/images/icons/272.ico");
}

.fa-flag:before {
  @include idiotism;
  background-image: url("/images/icons/__54.ico");
}

.fa-quote-right:before {
  @include idiotism;
  background-image: url("/images/icons/__101.ico");
}

.fa-reply:before {
  @include idiotism;
  background-image: url("/images/icons/__68.ico");
}

.fa-clipboard:before {
  @include idiotism;
  background-image: url("/images/icons/txt_file.ico");
}
